include ../../pug/libs/_libs

.search-wrapper
    include search-sidebar/search-sidebar
    section.search-room
        h1.search-room__title Номера, которые мы для вас подобрали
        .search-room-items 
            .search-room__item
                a(href="details.html").search-room__link
                    .slider
                        input(type="radio" id="room1-btn-1" name="toggle-1" checked).slider__input           
                        input(type="radio" id="room1-btn-2" name="toggle-1").slider__input
                        input(type="radio" id="room1-btn-3" name="toggle-1").slider__input
                        input(type="radio" id="room1-btn-4" name="toggle-1").slider__input
                        .slider-controls 
                            label(for="room1-btn-1").slider__label  
                            label(for="room1-btn-2").slider__label  
                            label(for="room1-btn-3").slider__label   
                            label(for="room1-btn-4").slider__label 
                        .slider-prev-controls 
                            label(for="room1-btn-1").slider__prev &#x2039;  
                            label(for="room1-btn-2").slider__prev &#x2039; 
                            label(for="room1-btn-3").slider__prev &#x2039; 
                            label(for="room1-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room1-btn-1").slider__next &#x2039;  
                            label(for="room1-btn-2").slider__next &#x2039;
                            label(for="room1-btn-3").slider__next &#x2039;
                            label(for="room1-btn-4").slider__next &#x2039;                                                                              
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room1.png`) alt='Фото номера').slider__img             
                                img(src=require(`../src/modules/search/room1.png`) alt='Фото номера').slider__img             
                                img(src=require(`../src/modules/search/room1.png`) alt='Фото номера').slider__img             
                                img(src=require(`../src/modules/search/room1.png`) alt='Фото номера').slider__img             
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 888
                            .search-room__rank Люкс
                        .search-room-price 
                            .search-room__rubl 9 990₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                        .search-room-feedback 
                            .search-room-feedback__numbers 145
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room2-btn-1" name="toggle-2" checked).slider__input           
                        input(type="radio" id="room2-btn-2" name="toggle-2").slider__input
                        input(type="radio" id="room2-btn-3" name="toggle-2").slider__input
                        input(type="radio" id="room2-btn-4" name="toggle-2").slider__input
                        .slider-controls 
                            label(for="room2-btn-1").slider__label  
                            label(for="room2-btn-2").slider__label  
                            label(for="room2-btn-3").slider__label   
                            label(for="room2-btn-4").slider__label   
                        .slider-prev-controls 
                            label(for="room2-btn-1").slider__prev &#x2039;  
                            label(for="room2-btn-2").slider__prev &#x2039; 
                            label(for="room2-btn-3").slider__prev &#x2039; 
                            label(for="room2-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room2-btn-1").slider__next &#x2039;  
                            label(for="room2-btn-2").slider__next &#x2039;
                            label(for="room2-btn-3").slider__next &#x2039;
                            label(for="room2-btn-4").slider__next &#x2039;                              
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room2.png`), alt="Фото номера").slider__img                                                                                                                                                                                                                                                                              
                                img(src=require(`../src/modules/search/room2.png`), alt="Фото номера").slider__img                                                                                                                                                                                                                                                                              
                                img(src=require(`../src/modules/search/room2.png`), alt="Фото номера").slider__img                                                                                                                                                                                                                                                                              
                                img(src=require(`../src/modules/search/room2.png`), alt="Фото номера").slider__img                                                                                                                                                                                                                                                                                                   
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 840
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 9 990₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 65
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room3-btn-1" name="toggle-3" checked).slider__input           
                        input(type="radio" id="room3-btn-2" name="toggle-3").slider__input
                        input(type="radio" id="room3-btn-3" name="toggle-3").slider__input
                        input(type="radio" id="room3-btn-4" name="toggle-3").slider__input
                        .slider-controls 
                            label(for="room3-btn-1").slider__label  
                            label(for="room3-btn-2").slider__label  
                            label(for="room3-btn-3").slider__label   
                            label(for="room3-btn-4").slider__label
                        .slider-prev-controls 
                            label(for="room3-btn-1").slider__prev &#x2039;  
                            label(for="room3-btn-2").slider__prev &#x2039; 
                            label(for="room3-btn-3").slider__prev &#x2039; 
                            label(for="room3-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room3-btn-1").slider__next &#x2039;  
                            label(for="room3-btn-2").slider__next &#x2039;
                            label(for="room3-btn-3").slider__next &#x2039;
                            label(for="room3-btn-4").slider__next &#x2039;                                
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room3.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room3.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room3.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room3.png`), alt="Фото номера").slider__img                                            
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 980
                            .search-room__rank Люкс
                        .search-room-price 
                            .search-room__rubl 8 500₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 35
                            .search-room-feedback__title Отзывов   
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room4-btn-1" name="toggle-4" checked).slider__input           
                        input(type="radio" id="room4-btn-2" name="toggle-4").slider__input
                        input(type="radio" id="room4-btn-3" name="toggle-4").slider__input
                        input(type="radio" id="room4-btn-4" name="toggle-4").slider__input
                        .slider-controls 
                            label(for="room4-btn-1").slider__label  
                            label(for="room4-btn-2").slider__label  
                            label(for="room4-btn-3").slider__label   
                            label(for="room4-btn-4").slider__label 
                        .slider-prev-controls 
                            label(for="room4-btn-1").slider__prev &#x2039;  
                            label(for="room4-btn-2").slider__prev &#x2039; 
                            label(for="room4-btn-3").slider__prev &#x2039; 
                            label(for="room4-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room4-btn-1").slider__next &#x2039;  
                            label(for="room4-btn-2").slider__next &#x2039;
                            label(for="room4-btn-3").slider__next &#x2039;
                            label(for="room4-btn-4").slider__next &#x2039;                               
                        .slider-inner
                            .slider-slides 
                                img(src=require(`../src/modules/search/room4.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room4.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room4.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room4.png`), alt="Фото номера").slider__img                                                
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 856
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 7 300₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                        .search-room-feedback 
                            .search-room-feedback__numbers 19
                            .search-room-feedback__title Отзывов   
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room5-btn-1" name="toggle-5" checked).slider__input           
                        input(type="radio" id="room5-btn-2" name="toggle-5").slider__input
                        input(type="radio" id="room5-btn-3" name="toggle-5").slider__input
                        input(type="radio" id="room5-btn-4" name="toggle-5").slider__input
                        .slider-controls 
                            label(for="room5-btn-1").slider__label  
                            label(for="room5-btn-2").slider__label  
                            label(for="room5-btn-3").slider__label   
                            label(for="room5-btn-4").slider__label 
                        .slider-prev-controls 
                            label(for="room5-btn-1").slider__prev &#x2039;  
                            label(for="room5-btn-2").slider__prev &#x2039; 
                            label(for="room5-btn-3").slider__prev &#x2039; 
                            label(for="room5-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room5-btn-1").slider__next &#x2039;  
                            label(for="room5-btn-2").slider__next &#x2039;
                            label(for="room5-btn-3").slider__next &#x2039;
                            label(for="room5-btn-4").slider__next &#x2039;                               
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room5.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room5.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room5.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room5.png`), alt="Фото номера").slider__img                                        
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 740
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 6 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 44
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room6-btn-1" name="toggle-6" checked).slider__input           
                        input(type="radio" id="room6-btn-2" name="toggle-6").slider__input
                        input(type="radio" id="room6-btn-3" name="toggle-6").slider__input
                        input(type="radio" id="room6-btn-4" name="toggle-6").slider__input
                        .slider-controls 
                            label(for="room6-btn-1").slider__label  
                            label(for="room6-btn-2").slider__label  
                            label(for="room6-btn-3").slider__label   
                            label(for="room6-btn-4").slider__label  
                        .slider-prev-controls 
                            label(for="room6-btn-1").slider__prev &#x2039;  
                            label(for="room6-btn-2").slider__prev &#x2039; 
                            label(for="room6-btn-3").slider__prev &#x2039; 
                            label(for="room6-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room6-btn-1").slider__next &#x2039;  
                            label(for="room6-btn-2").slider__next &#x2039;
                            label(for="room6-btn-3").slider__next &#x2039;
                            label(for="room6-btn-4").slider__next &#x2039;                              
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room6.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room6.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room6.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room6.png`), alt="Фото номера").slider__img                                          
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 982
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 800₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 56
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room7-btn-1" name="toggle-7" checked).slider__input           
                        input(type="radio" id="room7-btn-2" name="toggle-7").slider__input
                        input(type="radio" id="room7-btn-3" name="toggle-7").slider__input
                        input(type="radio" id="room7-btn-4" name="toggle-7").slider__input
                        .slider-controls 
                            label(for="room7-btn-1").slider__label  
                            label(for="room7-btn-2").slider__label  
                            label(for="room7-btn-3").slider__label   
                            label(for="room7-btn-4").slider__label
                        .slider-prev-controls 
                            label(for="room7-btn-1").slider__prev &#x2039;  
                            label(for="room7-btn-2").slider__prev &#x2039; 
                            label(for="room7-btn-3").slider__prev &#x2039; 
                            label(for="room7-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room7-btn-1").slider__next &#x2039;  
                            label(for="room7-btn-2").slider__next &#x2039;
                            label(for="room7-btn-3").slider__next &#x2039;
                            label(for="room7-btn-4").slider__next &#x2039;                               
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room7.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room7.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room7.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room7.png`), alt="Фото номера").slider__img                                             
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 678
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 500₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                        .search-room-feedback 
                            .search-room-feedback__numbers 45
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room8-btn-1" name="toggle-8" checked).slider__input           
                        input(type="radio" id="room8-btn-2" name="toggle-8").slider__input
                        input(type="radio" id="room8-btn-3" name="toggle-8").slider__input
                        input(type="radio" id="room8-btn-4" name="toggle-8").slider__input
                        .slider-controls 
                            label(for="room8-btn-1").slider__label  
                            label(for="room8-btn-2").slider__label  
                            label(for="room8-btn-3").slider__label   
                            label(for="room8-btn-4").slider__label
                        .slider-prev-controls 
                            label(for="room8-btn-1").slider__prev &#x2039;  
                            label(for="room8-btn-2").slider__prev &#x2039; 
                            label(for="room8-btn-3").slider__prev &#x2039; 
                            label(for="room8-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room8-btn-1").slider__next &#x2039;  
                            label(for="room8-btn-2").slider__next &#x2039;
                            label(for="room8-btn-3").slider__next &#x2039;
                            label(for="room8-btn-4").slider__next &#x2039;                                
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room8.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room8.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room8.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room8.png`), alt="Фото номера").slider__img                                         
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 450
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 300₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 39
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room9-btn-1" name="toggle-9" checked).slider__input           
                        input(type="radio" id="room9-btn-2" name="toggle-9").slider__input
                        input(type="radio" id="room9-btn-3" name="toggle-9").slider__input
                        input(type="radio" id="room9-btn-4" name="toggle-9").slider__input
                        .slider-controls 
                            label(for="room9-btn-1").slider__label  
                            label(for="room9-btn-2").slider__label  
                            label(for="room9-btn-3").slider__label   
                            label(for="room9-btn-4").slider__label 
                        .slider-prev-controls 
                            label(for="room9-btn-1").slider__prev &#x2039;  
                            label(for="room9-btn-2").slider__prev &#x2039; 
                            label(for="room9-btn-3").slider__prev &#x2039; 
                            label(for="room9-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room9-btn-1").slider__next &#x2039;  
                            label(for="room9-btn-2").slider__next &#x2039;
                            label(for="room9-btn-3").slider__next &#x2039;
                            label(for="room9-btn-4").slider__next &#x2039;                               
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room9.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room9.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room9.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room9.png`), alt="Фото номера").slider__img                                            
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 350
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 77
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room10-btn-1" name="toggle-10" checked).slider__input           
                        input(type="radio" id="room10-btn-2" name="toggle-10").slider__input
                        input(type="radio" id="room10-btn-3" name="toggle-10").slider__input
                        input(type="radio" id="room10-btn-4" name="toggle-10").slider__input
                        .slider-controls 
                            label(for="room10-btn-1").slider__label  
                            label(for="room10-btn-2").slider__label  
                            label(for="room10-btn-3").slider__label   
                            label(for="room10-btn-4").slider__label  
                        .slider-prev-controls 
                            label(for="room10-btn-1").slider__prev &#x2039;  
                            label(for="room10-btn-2").slider__prev &#x2039; 
                            label(for="room10-btn-3").slider__prev &#x2039; 
                            label(for="room10-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room10-btn-1").slider__next &#x2039;  
                            label(for="room10-btn-2").slider__next &#x2039;
                            label(for="room10-btn-3").slider__next &#x2039;
                            label(for="room10-btn-4").slider__next &#x2039;                              
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room10.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room10.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room10.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room10.png`), alt="Фото номера").slider__img                                             
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 666
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                        .search-room-feedback 
                            .search-room-feedback__numbers 25
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room11-btn-1" name="toggle-11" checked).slider__input           
                        input(type="radio" id="room11-btn-2" name="toggle-11").slider__input
                        input(type="radio" id="room11-btn-3" name="toggle-11").slider__input
                        input(type="radio" id="room11-btn-4" name="toggle-11").slider__input
                        .slider-controls 
                            label(for="room11-btn-1").slider__label  
                            label(for="room11-btn-2").slider__label  
                            label(for="room11-btn-3").slider__label   
                            label(for="room11-btn-4").slider__label 
                        .slider-prev-controls 
                            label(for="room11-btn-1").slider__prev &#x2039;  
                            label(for="room11-btn-2").slider__prev &#x2039; 
                            label(for="room11-btn-3").slider__prev &#x2039; 
                            label(for="room11-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room11-btn-1").slider__next &#x2039;  
                            label(for="room11-btn-2").slider__next &#x2039;
                            label(for="room11-btn-3").slider__next &#x2039;
                            label(for="room11-btn-4").slider__next &#x2039;                              
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room11.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room11.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room11.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room11.png`), alt="Фото номера").slider__img                                            
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 444
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 15
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html").search-room__link
                    .slider
                        input(type="radio" id="room12-btn-1" name="toggle-12" checked).slider__input           
                        input(type="radio" id="room12-btn-2" name="toggle-12").slider__input
                        input(type="radio" id="room12-btn-3" name="toggle-12").slider__input
                        input(type="radio" id="room12-btn-4" name="toggle-12").slider__input
                        .slider-controls 
                            label(for="room12-btn-1").slider__label  
                            label(for="room12-btn-2").slider__label  
                            label(for="room12-btn-3").slider__label   
                            label(for="room12-btn-4").slider__label 
                        .slider-prev-controls 
                            label(for="room12-btn-1").slider__prev &#x2039;  
                            label(for="room12-btn-2").slider__prev &#x2039; 
                            label(for="room12-btn-3").slider__prev &#x2039; 
                            label(for="room12-btn-4").slider__prev &#x2039;
                        .slider-next-controls 
                            label(for="room12-btn-1").slider__next &#x2039;  
                            label(for="room12-btn-2").slider__next &#x2039;
                            label(for="room12-btn-3").slider__next &#x2039;
                            label(for="room12-btn-4").slider__next &#x2039;                               
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/modules/search/room12.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room12.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room12.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/modules/search/room12.png`), alt="Фото номера").slider__img                                           
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 352
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 55
                            .search-room-feedback__title Отзывов   
        .paginator 
            a(href="empty.html").paginator__item.paginator__current 1                                                                                                                                                                                                                                                                        
            a(href="empty.html").paginator__item 2                                                                                                                                                                                                                                                                        
            a(href="empty.html").paginator__item 3                                                                                                                                                                                                                                                                       
            a(href="empty.html").paginator__item &hellip;                                                                                                                                                                                                                                                                       
            a(href="empty.html").paginator__item 15                                                                                                                                                                                                                                                                       
            a(href="empty.html").paginator__icon arrow_forward
            .paginator__text 1 – 12 из 100+ вариантов аренды  
hr.footer-line

                                                                                                                                                                                                                                                                                             
                                                                                 
                                                                                                                                                                                                                            


                
