include ../pug/libs/_libs

.search-wrapper
    section.search-sidebar
        form(action="").stay-guest-form
            .stay-guest-form__item
                p.stay-guest-form__title Даты пребывания в отеле 
                input(type="text" placeholder='19 авг - 23 авг').stay-guest-form__input
                span.stay-guest-form__icon expand_more
            .stay-guest-form__item
                p.stay-guest-form__title Гости 
                input(type="text" placeholder='Сколько гостей' adult=0 child=0 baby=0 guests=0).stay-guest-form__input.guest__input
                span.stay-guest-form__icon expand_more 
            //- .guests-block
            .guests-block.block-open           
                .guests-item 
                    .guests-item__title Взрослые
                    .guests-item-buttons
                        button.guests-item__button.guests-item__button-minus.minus-adult -
                        .guests-item__result.adult-result 0              
                        button.guests-item__button.plus-adult +
                .guests-item 
                    .guests-item__title Дети
                    .guests-item-buttons
                        button.guests-item__button.guests-item__button-minus.minus-child -
                        .guests-item__result.child-result 0              
                        button.guests-item__button.plus-child +
                .guests-item 
                    .guests-item__title Младенцы
                    .guests-item-buttons
                        button.guests-item__button.guests-item__button-minus.minus-baby -
                        .guests-item__result.baby-result 0              
                        button.guests-item__button.plus-baby +  
                .guests-item 
                    .guests-confirmation__clear.opaque Очистить
                    .guests-confirmation__assume Применить
                      


        .sliderp 
            .sliderp-title-wrapper 
                .sliderp-title Диапазон цены
                .sliderp-label-wrapper
                    label.sliderp__label 
                        input(type="number" placeholder='5000').sliderp__input#input-0
                        span.sliderp__span ₽ -
                    label.sliderp__label 
                        input(type="number" placeholder='10000').sliderp__input#input-1  
                        span.sliderp__span ₽    
            #nouislider
            .sliderp-bottom-title Стоимость за сутки пребывания в номере
        form(action="").home-rule-form
            .home-rule-form__title Правила дома
            .home-rule-form__item 
                input(type="checkbox" id="smoke").home-rule-form__input
                label(for="smoke").home-rule-form__label Можно курить 
            .home-rule-form__item 
                input(type="checkbox" id="pets").home-rule-form__input
                label(for="pets").home-rule-form__label Можно с питомцами
            .home-rule-form__item 
                input(type="checkbox" id="guests").home-rule-form__input
                label(for="guests").home-rule-form__label Можно пригласить гостей (до 10 человек) 
        form(action="").availability-form
            .availability-form__title Доступность
            .availability-form__item
                input(type="checkbox" id="corridor").availability-form__input
                label(for="corridor").availability-form__label Широкий коридор
                    p.availability-form__text Ширина коридоров в номере не менее 91 см.             
            .availability-form__item 
                input(type="checkbox" id="assistant").availability-form__input
                label(for="assistant").availability-form__label Помощник для инвалидов
                    p.availability-form__text На 1 этаже вас встретит специалист и проводит до номера.                    
        .amenity
            .amenity__title Удобства номера
            form(action="").amenity-form
                input(type="text" placeholder="Укажите количество удобств" sleep=0 bed=0 bath=0 ).amenity-form__input
                span.amenity-form__icon expand_more
            .amenity-block.block-open
                .amenity-item 
                    .amenity-item__title Спальни
                    .amenity-item-buttons
                        button.amenity-item__button.amenity-item__button-minus.minus-sleep -
                        .amenity-item__result.sleep-result 0              
                        button.amenity-item__button.plus-sleep +
                .amenity-item 
                    .amenity-item__title Кровати
                    .amenity-item-buttons
                        button.amenity-item__button.amenity-item__button-minus.minus-bed -
                        .amenity-item__result.bed-result 0              
                        button.amenity-item__button.plus-bed +
                .amenity-item 
                    .amenity-item__title Ванные комнаты
                    .amenity-item-buttons
                        button.amenity-item__button.amenity-item__button-minus.minus-bath -
                        .amenity-item__result.bath-result 0              
                        button.amenity-item__button.plus-bath +                                                
        .additional 
            .additional__title Дополнительные удобства
            .additional__icon expand_more
            .additional-block.block-open
                form(action="").additional-block-form
                    .additional-block-form__item 
                        input(type="checkbox" id="breakfast").additional-block-form__input
                        label(for="breakfast").additional-block-form__label Завтрак
                    .additional-block-form__item 
                        input(type="checkbox" id="desk").additional-block-form__input
                        label(for="desk").additional-block-form__label Письменный стол
                    .additional-block-form__item 
                        input(type="checkbox" id="chair").additional-block-form__input
                        label(for="chair").additional-block-form__label Стул для кормления
                    .additional-block-form__item 
                        input(type="checkbox" id="little-bed").additional-block-form__input
                        label(for="little-bed").additional-block-form__label Кроватка
                    .additional-block-form__item 
                        input(type="checkbox" id="TV-1").additional-block-form__input
                        label(for="TV-1").additional-block-form__label Телевизор
                    .additional-block-form__item 
                        input(type="checkbox" id="shampoo-1").additional-block-form__input
                        label(for="shampoo-1").additional-block-form__label Шампунь
                    .additional-block-form__item 
                        input(type="checkbox" id="TV-2").additional-block-form__input
                        label(for="TV-2").additional-block-form__label Телевизор
                    .additional-block-form__item 
                        input(type="checkbox" id="shampoo-2").additional-block-form__input
                        label(for="shampoo-2").additional-block-form__label Шампунь                                                                                                                                                                        
    
    section.search-room
        h1.search-room__title Номера, которые мы для вас подобрали
        .search-room-items 
            .search-room__item
                a(href="details.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room1-btn-1" name="toggle-1" checked).slider__input           
                        input(type="radio" id="room1-btn-2" name="toggle-1").slider__input
                        input(type="radio" id="room1-btn-3" name="toggle-1").slider__input
                        input(type="radio" id="room1-btn-4" name="toggle-1").slider__input
                        .slider-controls 
                            label(for="room1-btn-1").slider__label  
                            label(for="room1-btn-2").slider__label  
                            label(for="room1-btn-3").slider__label   
                            label(for="room1-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room1.png`) alt='Фото номера').slider__img             
                                img(src=require(`../src/images/rooms/room1.png`) alt='Фото номера').slider__img             
                                img(src=require(`../src/images/rooms/room1.png`) alt='Фото номера').slider__img             
                                img(src=require(`../src/images/rooms/room1.png`) alt='Фото номера').slider__img             
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 888
                            .search-room__rank Люкс
                        .search-room-price 
                            .search-room__rubl 9 990₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                        .search-room-feedback 
                            .search-room-feedback__numbers 145
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room2-btn-1" name="toggle-2" checked).slider__input           
                        input(type="radio" id="room2-btn-2" name="toggle-2").slider__input
                        input(type="radio" id="room2-btn-3" name="toggle-2").slider__input
                        input(type="radio" id="room2-btn-4" name="toggle-2").slider__input
                        .slider-controls 
                            label(for="room2-btn-1").slider__label  
                            label(for="room2-btn-2").slider__label  
                            label(for="room2-btn-3").slider__label   
                            label(for="room2-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room2.png`), alt="Фото номера").slider__img                                                                                                                                                                                                                                                                              
                                img(src=require(`../src/images/rooms/room2.png`), alt="Фото номера").slider__img                                                                                                                                                                                                                                                                              
                                img(src=require(`../src/images/rooms/room2.png`), alt="Фото номера").slider__img                                                                                                                                                                                                                                                                              
                                img(src=require(`../src/images/rooms/room2.png`), alt="Фото номера").slider__img                                                                                                                                                                                                                                                                                                   
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 840
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 9 990₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 65
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room3-btn-1" name="toggle-3" checked).slider__input           
                        input(type="radio" id="room3-btn-2" name="toggle-3").slider__input
                        input(type="radio" id="room3-btn-3" name="toggle-3").slider__input
                        input(type="radio" id="room3-btn-4" name="toggle-3").slider__input
                        .slider-controls 
                            label(for="room3-btn-1").slider__label  
                            label(for="room3-btn-2").slider__label  
                            label(for="room3-btn-3").slider__label   
                            label(for="room3-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room3.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room3.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room3.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room3.png`), alt="Фото номера").slider__img                                            
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 980
                            .search-room__rank Люкс
                        .search-room-price 
                            .search-room__rubl 8 500₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 35
                            .search-room-feedback__title Отзывов   
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room4-btn-1" name="toggle-4" checked).slider__input           
                        input(type="radio" id="room4-btn-2" name="toggle-4").slider__input
                        input(type="radio" id="room4-btn-3" name="toggle-4").slider__input
                        input(type="radio" id="room4-btn-4" name="toggle-4").slider__input
                        .slider-controls 
                            label(for="room4-btn-1").slider__label  
                            label(for="room4-btn-2").slider__label  
                            label(for="room4-btn-3").slider__label   
                            label(for="room4-btn-4").slider__label   
                        .slider-inner
                            .slider-slides 
                                img(src=require(`../src/images/rooms/room4.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room4.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room4.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room4.png`), alt="Фото номера").slider__img                                                
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 856
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 7 300₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                        .search-room-feedback 
                            .search-room-feedback__numbers 19
                            .search-room-feedback__title Отзывов   
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room5-btn-1" name="toggle-5" checked).slider__input           
                        input(type="radio" id="room5-btn-2" name="toggle-5").slider__input
                        input(type="radio" id="room5-btn-3" name="toggle-5").slider__input
                        input(type="radio" id="room5-btn-4" name="toggle-5").slider__input
                        .slider-controls 
                            label(for="room5-btn-1").slider__label  
                            label(for="room5-btn-2").slider__label  
                            label(for="room5-btn-3").slider__label   
                            label(for="room5-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room5.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room5.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room5.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room5.png`), alt="Фото номера").slider__img                                        
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 740
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 6 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 44
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room6-btn-1" name="toggle-6" checked).slider__input           
                        input(type="radio" id="room6-btn-2" name="toggle-6").slider__input
                        input(type="radio" id="room6-btn-3" name="toggle-6").slider__input
                        input(type="radio" id="room6-btn-4" name="toggle-6").slider__input
                        .slider-controls 
                            label(for="room6-btn-1").slider__label  
                            label(for="room6-btn-2").slider__label  
                            label(for="room6-btn-3").slider__label   
                            label(for="room6-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room6.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room6.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room6.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room6.png`), alt="Фото номера").slider__img                                          
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 982
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 800₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 56
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room7-btn-1" name="toggle-7" checked).slider__input           
                        input(type="radio" id="room7-btn-2" name="toggle-7").slider__input
                        input(type="radio" id="room7-btn-3" name="toggle-7").slider__input
                        input(type="radio" id="room7-btn-4" name="toggle-7").slider__input
                        .slider-controls 
                            label(for="room7-btn-1").slider__label  
                            label(for="room7-btn-2").slider__label  
                            label(for="room7-btn-3").slider__label   
                            label(for="room7-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room7.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room7.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room7.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room7.png`), alt="Фото номера").slider__img                                             
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 678
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 500₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                        .search-room-feedback 
                            .search-room-feedback__numbers 45
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room8-btn-1" name="toggle-8" checked).slider__input           
                        input(type="radio" id="room8-btn-2" name="toggle-8").slider__input
                        input(type="radio" id="room8-btn-3" name="toggle-8").slider__input
                        input(type="radio" id="room8-btn-4" name="toggle-8").slider__input
                        .slider-controls 
                            label(for="room8-btn-1").slider__label  
                            label(for="room8-btn-2").slider__label  
                            label(for="room8-btn-3").slider__label   
                            label(for="room8-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room8.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room8.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room8.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room8.png`), alt="Фото номера").slider__img                                         
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 450
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 300₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 39
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room9-btn-1" name="toggle-9" checked).slider__input           
                        input(type="radio" id="room9-btn-2" name="toggle-9").slider__input
                        input(type="radio" id="room9-btn-3" name="toggle-9").slider__input
                        input(type="radio" id="room9-btn-4" name="toggle-9").slider__input
                        .slider-controls 
                            label(for="room9-btn-1").slider__label  
                            label(for="room9-btn-2").slider__label  
                            label(for="room9-btn-3").slider__label   
                            label(for="room9-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room9.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room9.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room9.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room9.png`), alt="Фото номера").slider__img                                            
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 350
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 77
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room10-btn-1" name="toggle-10" checked).slider__input           
                        input(type="radio" id="room10-btn-2" name="toggle-10").slider__input
                        input(type="radio" id="room10-btn-3" name="toggle-10").slider__input
                        input(type="radio" id="room10-btn-4" name="toggle-10").slider__input
                        .slider-controls 
                            label(for="room10-btn-1").slider__label  
                            label(for="room10-btn-2").slider__label  
                            label(for="room10-btn-3").slider__label   
                            label(for="room10-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room10.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room10.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room10.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room10.png`), alt="Фото номера").slider__img                                             
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 666
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                        .search-room-feedback 
                            .search-room-feedback__numbers 25
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room11-btn-1" name="toggle-11" checked).slider__input           
                        input(type="radio" id="room11-btn-2" name="toggle-11").slider__input
                        input(type="radio" id="room11-btn-3" name="toggle-11").slider__input
                        input(type="radio" id="room11-btn-4" name="toggle-11").slider__input
                        .slider-controls 
                            label(for="room11-btn-1").slider__label  
                            label(for="room11-btn-2").slider__label  
                            label(for="room11-btn-3").slider__label   
                            label(for="room11-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room11.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room11.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room11.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room11.png`), alt="Фото номера").slider__img                                            
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 444
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 15
                            .search-room-feedback__title Отзывов
            .search-room__item
                a(href="empty.html" target="_blank").search-room__link
                    .slider
                        input(type="radio" id="room12-btn-1" name="toggle-12" checked).slider__input           
                        input(type="radio" id="room12-btn-2" name="toggle-12").slider__input
                        input(type="radio" id="room12-btn-3" name="toggle-12").slider__input
                        input(type="radio" id="room12-btn-4" name="toggle-12").slider__input
                        .slider-controls 
                            label(for="room12-btn-1").slider__label  
                            label(for="room12-btn-2").slider__label  
                            label(for="room12-btn-3").slider__label   
                            label(for="room12-btn-4").slider__label   
                        .slider-inner
                            .slider-slides  
                                img(src=require(`../src/images/rooms/room12.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room12.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room12.png`), alt="Фото номера").slider__img                            
                                img(src=require(`../src/images/rooms/room12.png`), alt="Фото номера").slider__img                                           
                .search-room-wrapper
                    .search-room-digits 
                        .search-room-numbers 
                            .search-room__symbol №
                            .search-room__number 352
                            .search-room__rank 
                        .search-room-price 
                            .search-room__rubl 5 000₽
                            .search-room__period в сутки
                    .search-room-bottom 
                        .search-room-stars
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star
                            span.search-room__star star_border
                            span.search-room__star star_border
                        .search-room-feedback 
                            .search-room-feedback__numbers 55
                            .search-room-feedback__title Отзывов   
        .paginator 
            a(href="empty.html" target="_blank").paginator__item.paginator__current 1                                                                                                                                                                                                                                                                        
            a(href="empty.html" target="_blank").paginator__item 2                                                                                                                                                                                                                                                                        
            a(href="empty.html" target="_blank").paginator__item 3                                                                                                                                                                                                                                                                       
            a(href="empty.html" target="_blank").paginator__item &hellip;                                                                                                                                                                                                                                                                       
            a(href="empty.html" target="_blank").paginator__item 15                                                                                                                                                                                                                                                                       
            a(href="empty.html" target="_blank").paginator__icon arrow_forward
            .paginator__text 1 – 12 из 100+ вариантов аренды  
 

                                                                                                                                                                                                                                                                                             
                                                                                 
                                                                                                                                                                                                                            


                
