doctype html
html(lang="en")
  head
    title UI kit Headers Footers
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
  body
    .uikit-header
      img(src=require(`../../../src/pages/uikit/logo_circle.png`) alt="Логотип").uikit-header-logo   
    .uikit-headers-footers
      .uikit-header-start
        .container
          .header   
            .logo
              a(href="/src/index.html" target="_blank").logo__link
                img(src=require(`../../../src/pages/uikit/logo.png`) alt="Логотип").logo__img
            .right
              nav.right-menu
                ul.right-menu-list 
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link О нас
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link Услуги
                      span.right-menu__icon expand_more
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link Вакансии
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link Новости
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link Соглашения
                      span.right-menu__icon expand_more
                  li.right-menu__item 
                    a(href="/src/login.html" target="_blank").right-menu__link.right-menu__link--burger Войти
                    a(href="/src/login.html" target="_blank").right-enter__link
                      .right__btn-linear            
                  li.right-menu__item 
                    a(href="/src/registration.html" target="_blank").right-menu__link.right-menu__link--burger Зарегистироваться
                    a(href="/src/registration.html" target="_blank").right-enter__register
                      button.right__btn.right__btn-reg зарегистрироваться 

      .uikit-header-logged
        .container
          .header
            .logo
              a(href="/src/index.html" target="_blank").logo__link
                img(src=require(`../../../src/pages/uikit/logo.png`) alt="Логотип").logo__img
            .right
              nav.right-menu
                ul.right-menu-list 
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link.right-menu__link-active О нас
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link Услуги
                      span.right-menu__icon expand_more
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link Вакансии
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link Новости
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link Соглашения
                      span.right-menu__icon expand_more  
                  li.right-menu__item 
                    a(href="/src/empty.html" target="_blank").right-menu__link.right-menu__link-logged Юлий Цезарь

      .uikit-footer-start              
        .container
          .footer.uikit-footer 
              .footer-item 
                  a(href="/src/index.html" target="_blank").footer-logo
                      img(src=require(`../../../src/pages/uikit/logo.png`) alt="Логотип").footer-logo__img
                  .footer-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
              .footer-item.footer-item-1 
                  p.footer-list__title Навигация
                  ul.footer-list              
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link О нас                
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link Новости
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link Служба поддержки                               
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link Услуги   
              .footer-item.footer-item-2 
                  p.footer-list__title О нас
                  ul.footer-list                 
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link О сервисе                
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link Наша команда
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link Вакансии                              
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link Инвесторы
              .footer-item.footer-item-3 
                  p.footer-list__title Служба поддержки 
                  ul.footer-list            
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link Соглашения 
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link Сообщества                               
                      li.footer-list__item
                          a(href="/src/empty.html" target="_blank").footer-list__link Связь с нами  
              .footer-item.footer-item-4 
                  p.footer-list__title Подписка
                  .footer-text-subscribe Получайте специальные предложения и новости сервиса
                  form.footer-form(action="") 
                      input(type="text" placeholder="Email").footer-form__input
                      a(href="/src/empty.html" target="_blank").footer-form__link 
                          span.footer-form__icon arrow_forward
          .container
              .copyright-block
                  .copyright 
                      .copyright-text Copyright &copy; 2018 Toxin отель. Все права защищены.
                      ul.copyright-list
                          li.copyright-list__item
                              a(href="/src/empty.html" target="_blank").copyright-list__link 
                                  img(src=require(`../../../src/pages/uikit/twitter.png`) alt="Twitter").copyright.socials__img 
                          li.copyright-list__item
                              a(href="/src/empty.html" target="_blank").copyright-list__link 
                                  img(src=require(`../../../src/pages/uikit/facebook.png`) alt="Facebook").copyright.socials__img
                          li.copyright-list__item
                              a(href="/src/empty.html" target="_blank").copyright-list__link 
                                  img(src=require(`../../../src/pages/uikit/insta.png`) alt="Instagramm").copyright.socials__img  
      .uikit-footer-adopted 
        .container.uikit-footer-container
          img(src=require(`../../../src/pages/uikit/logo.png`) alt="Логотип").footer-logo__img
          .copyright-text.uikit-copyright-text Copyright1111 &copy; 2018 Toxin отель. Все права защищены.
          ul.copyright-list.uikit-copyright-list
            li.copyright-list__item.uikit-copyright-list__item
              a(href="/src/empty.html" target="_blank").copyright-list__link 
                img(src=require(`../../../src/pages/uikit/twitter.png`) alt="Twitter").copyright.socials__img 
            li.copyright-list__item.uikit-copyright-list__item
              a(href="/src/empty.html" target="_blank").copyright-list__link 
                img(src=require(`../../../src/pages/uikit/facebook.png`) alt="Facebook").copyright.socials__img
            li.copyright-list__item.uikit-copyright-list__item
              a(href="/src/empty.html" target="_blank").copyright-list__link 
                img(src=require(`../../../src/pages/uikit/insta.png`) alt="Instagramm").copyright.socials__img 